<div class="todos">
  <!-- Form submit handler cuz button is submit -->
  <form (submit)="addTodo()">
    <!-- Input text todo -->
    <input
      type="text"
      name="inputTodo"
      placeholder="Add Todo..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />

    <!-- Button submit todo -->
    <input type="submit" value="Add Todo" class="todo-submit" />
  </form>

  <!-- Todos -->
  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button class="delete" (click)="deleteTodo(i)">Remove</button>
  </div>
</div>
